* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
} /*Pour les polices*/

body {
  background-image: url(img/bg_cocktail.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -100px;
} /*Place l'image de fond*/

header {
  position: relative;
  background-color: #d45c5c;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Story Script", sans-serif;
}

.logo {
  font-size: 60px;
  color: #111111;
}

.top {
  margin: 7%;
  text-align: center;
  font-size: 80px;
  font-family: "Lora", sans-serif;
  font-weight: bold;
  color: #e7cdcd;
}

.text_intro {
  color: #e7cdcd;
  text-align: center;
  font-size: 40px;
  font-family: "Lora", sans-serif;
  height: 50%;
  width: 90%;
  margin-left: 5%;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #d45c5ce0;
  background-color: #d45c5c5b;
}

.btn {
  text-align: center;
  padding-top: 2%;
} /*Position le boutton*/

.button {
  display: inline-block;
  background-color: #d45c5ca2;
  color: #111111;
  padding: 15px;
  text-align: center;
  width: 30%;
  font-size: 40px;
  border-radius: 15px;
  cursor: grab;
  border: 2px solid #d45c5c;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 0 10px #111111;
} /*design le boutton*/
.button:hover {
  background-color: #d45c5c;
  color: #e7cdcd;
} /*animation quand la souris passe sur le boutton*/
.button:active {
  box-shadow: 0 5px #0e0e0e;
  transform: translateY(4px);
} /*animation au clic*/

.footer {
  background-color: #d45c5c;
  padding: 15px 10px;
  text-align: center;
  margin-top: 60px;
  color: #e7cdcd;
  font-family: "Lora", serif;
}

.menu-cache{
  background-color: #d45c5c;
  height: 400px;
  width: 300px;
  position: fixed;
  left: -300px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: bottom;
  text-align: center;
  font-size: 40px;
  transition: 0.3s ease;
}

.menu-cache.visible{
  left: 0;
}

.menu {
  position: absolute;
  left: 20px;
  top: 40%;
  transform: translateY(-50%);
}

.menu-burger{
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}

.menu-cache a{
  text-decoration: none;
  color: #111111;
}
.menu-cache a:hover {
  color: #494848;
}

.menu-burger span{
  height: 5px;
  width: 50px;
  background-color: #111111;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate( 50%, 50%);
  transition: 0.3s ease;
}

.menu-burger span:nth-child(1) {
  top: 25%;
}

.menu-burger span:nth-child(3) {
  top: 75%;
}

.menu-burger.visible span:nth-child(1) {
  top: 50%;
  transform: translate( 50%, 50%) rotate(45deg);
}

.menu-burger.visible span:nth-child(2) {
  opacity: 0;
}

.menu-burger.visible span:nth-child(3) {
  top: 50%;
  transform: translate( 50%, 50%) rotate(-45deg);
}



